@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700|Inconsolata);

/********************************************************
 * Filename: kilburn.css
 * Author: Jordan Calvo (jpkilburn1@gmail.com)
 ********************************************************/
/********************************************************
 *		Primary Color Codes			
 ********************************************************
 *
 *
 ********************************************************/

/********************************************************
 *		Base HTML				
 ********************************************************/
  html{
    overflow-x:none;
    overflow-y:scroll;
  }
  body{
    font-family: 'Work Sans', sans-serif;
    color:#333333;
  }
  h1,h2,h3,h4{
    font-family: 'Inconsolata', sans-serif;
  }
  footer{
    text-align:center;
  }
/********************************************************
 *		Bootstrap Customization			
 ********************************************************/
  .navbar-brand{
    font-family: 'Inconsolata', sans-serif;
  }
/********************************************************
 *		FontAwesome Customization		
 ********************************************************/

/********************************************************
 *		Custom Classes			
 ********************************************************/
  .main{
    padding-top:60px;
  }
  .main  p{
    font-size:120%;
  }
/********************************************************
 *		Viewport Specific			
 ********************************************************/