    <br />
    <footer>
      <div class="container">
        <div class="pull-right">
          <a href="https://www.linkedin.com/in/jordan-calvo-3b0753112">
            <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
          </a>
          &nbsp;
          <a href="mailto:jpkilburn1@gmail.com">
            <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>