    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Jordan Calvo, Web Design, Web Development, Florence AL">
    <meta name="description" content="Jordan Calvo's personal portfolio, resume, and blog on web design and development.">
    <meta name="author" content="Jordan Calvo">
    <meta property="og:title" content="Jordan Calvo - Web Design and Development" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://jpkilburn.github.io/" />
    <link rel="shortcut icon" href="{{site.baseurl}}/imgs/favicon.ico">
  
    <title>{{ page.title }}</title>

    <!-- Style: FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/jpkilburn.css">
    
    {% include analytics.html %}