.header{
  background:black;
  color:white;
  margin-bottom:10px;
}
.header h2{
  text-align:left;
  font-size:140%;
}
.header .button{
  border:none;
  margin:0px;
}
.header a{
  color:white;
}
.header a:hover{
  color:yellow;
}

.main h1, .main h2, .main h3{
  font-style: italic;
}

.title{
  text-align:center;
}