<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    
    <section class="banner">
      <div class="container">
        <h1 style="border:none">Clean and Responsive Designs</h1>
        <div class="row index-banner">
          <div class="five columns offset-by-one">
            <img src="imgs/bannerGraphic.png" alt="Banner Graphic" style="width:300px; padding:2rem;" class="img-center u-max-full-width">
          </div>
          <div class="four columns banner-btns">
            <a href="/portfolio" class="button button-primary u-full-width">My Work</a>
            <a href="/contact" class="button button-primary u-full-width">Contact Me</a>
          </div>
        </div>
      </div>
    </section>
    
    <div class="container main">
      {{ content }}
    </div><!-- /.container -->

    {% include footer.html %}
  </body>
</html>
