<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    
    <div class="banner">
      <h1 class="visible-md visible-lg visible-xl">
        <strong>Jordan Calvo</strong><br />
        Web Development and Design
      </h1>
      <h2 class="visible-xs visible-sm" style="text-align:center;">
        <strong>Jordan Calvo</strong><br />
        Web Development and Design
      </h2>
    </div>
    
    <div class="container main">
      {{ content }}
    </div><!-- /.container -->

    {% include footer.html %}
  </body>
</html>
