<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    
    <section class="banner">
      <div class="container">
        <h1 style="border:none">Jordan's Blog</h1>
      </div>
    </section>
    
    <div class="container main">
      <div class="row">
      
        <div class="two-thirds column contentblock">
          <h2>{{ page.title }}</h2>
          <p><small>Posted on {{ page.date | date_to_string }}</small></p>
          {{ content }}
        </div>
        <div class="one-third column">
          <h2>Recent Posts</h2>
          <ul>
            {% for post in site.posts limit:9 %}
              {% if page.title == post.title %}
              <a href="{{ post.url }}" title="{{ post.title }}"><li class="button list-btn button-primary">{{ post.title }}</li></a>
              {% else %}
              <a href="{{ post.url }}" title="{{ post.title }}"><li class="button list-btn">{{ post.title }}</li></a>
              {% endif %}
            {% endfor %}
          </ul>
          <a href="" class="button button-dark list-btn">Blog Index</a>
        </div>
      </div>
    </div><!-- /.container -->

    {% include footer.html %}
  </body>
</html>