---
layout: default
---
      <div class="col-md-9">
      <h1>{{ page.title }}</h1>
      <p class="meta">{{ page.date | date_to_string }}</p>

      <div class="post">
        {{ content }}
      </div>
      </div>
      <div class="col-md-3">
        <h1>Posts</h1>
        <div class="list-group">
          {% for post in site.posts %}
            {% if page.title == post.title %}
            <a href="{{ post.url }}" title="{{ post.title }}" class="list-group-item active">{{ post.date | date_to_string }} » {{ post.title }}</a>
            {% else %}
            <a href="{{ post.url }}" title="{{ post.title }}" class="list-group-item">{{ post.date | date_to_string }} » {{ post.title }}</a>
            {% endif %}
          {% endfor %}
        </ul>
      </div>